body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.notification-success-alert {
    display: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#wifi-loader {
  --background: #62abff;
  --front-color: #4f29f0;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 23%;
  margin-left: 48%;
}

.header{
    display: none;
    margin: 0 0 0 0;
    z-index: 10;
    padding: 0 0 0 0;
}

@media (max-width: 1200px) {
    #wifi-loader {
        margin-top: 30%;
        margin-left: 45%;
    }
}

@media (max-width: 800px) {
    #wifi-loader {
        margin-top: 40%;
        margin-left: 47%;
    }
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before, #wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}




@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}
 
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

li .nav-link {
    font-size: 1.1rem;
    font-weight: 700;
}


.hero-section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background: url('../images/pexels-jessbaileydesign-755992.jpg') no-repeat center center/cover;
}

.hero-content{
    backdrop-filter: blur(2px);
    align-content: center;
    height: 100%;
    width: 100%;
    margin-left: 10%;
}

.hero-title {
    font-size: 2.3rem;
    font-weight: 800;
}

.hero-description {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 25px;
}

.shop-btn {
    margin-top: 10px;
    padding: 12px 35px;
    font-size: 1rem;
    font-weight: 500;
     background-color: #3409f0;
     color: #ffffff;
     border: none;
     border-radius: 14px;
     cursor: pointer;
    }

.shop-btn a {
    text-decoration: none;
    color: #ffffff;
}

.product-item img{
    width: 100%;
    height: 350px;
    top: 0;
    object-fit: cover;
    border-radius: 15px;
}

.product-item{
    background-color: #fff;
    border-radius: 15px;
    width: 270px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-list {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-section, .about-us-section{
    display: none;;
}

.product-section h2, .about-us-section h2{
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 800;

}

.about-us-section {
    display: none;
    height: 350px;
    background-color: #7a7a7a98;
    border-radius: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 30px;
}

.about-us-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.about-us-section div{
    background-color: #b0aeae;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-text p {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 600;

}

.about-us-text h2 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 25%;
    font-size: 2.5rem;
    font-weight: 800;

}